<configuration debug="true">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level [%thread]  %logger{20} %file:%line %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="R"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>${HOME:-${USERPROFILE}}/CompendiumNG-log/compendiumng.log</File>
		<encoder>
			<pattern>%d %-5level [%thread] %logger{20} %file:%line %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>3</maxIndex>
			<FileNamePattern>${HOME:-${USERPROFILE}}/CompendiumNG-log/compendiumng.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="R" />
	</root>
</configuration>
