#qa-page-wrapper {
    border-radius: 5px 5px 5px 5px;
    margin: 0 20px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    float: none;
}

#qa-content-wrapper {
    padding: 10px;
    border-bottom: 1px solid #F1F1F1;
}

/* 67022-1341303680-au */

/* 144448-1358567312 */